# Default owners for everything in the repo. A review request will automatically be created when a new pull request is opened.
# Someone from the Android group must approve before a PR can be merged.
* @crunchyroll/android
